%ul
  %li
    %a{:href => "http://ryanparsley.com"} RyanParsley.com
  %li
    %a{:href => "http://craftyblues.com"} CraftyBlues
  %li
    %a{:href => "http://twitter.com/RyanParsley"} Twitter
  %li
    %a{:href => "https://github.com/RyanParsley"} GitHub




