%footer
  .container
    .first
      %h1 Elsewhere
      = partial "layouts/partials/elsewhere_nav"
      
    .second
      %h1 Who made this thing?

      :markdown
        I am [Ryan Parsley](http://RyanParsley.com), a Graphic Designer in South Ohio. Please check out some [things I have made](http://ryanparsley.com/portfolio). Additionally, you can read about some [thoughts I have](http://ryanparsley.com/prose) regarding web design. If you like this kind of stuff, you may like to [follow me](http://twitter.com/ryanparsley) on&nbsp;twitter.
