.pitch
  .container
    .content
      %h1
        Pick a note to be used as the root
      #dropdown-1.dropdown-menu
        %ul#notePicker
          %li
            %a{:href=> "Ab"} 
              Ab
          %li
            %a{:href=> "A"} 
              A
          %li
            %a{:href=> "Bb"} 
              Bb
          %li
            %a{:href=> "B"} 
              B
          %li
            %a{:href=> "C"} 
              C
          %li
            %a{:href=> "Db"} 
              Db
          %li
            %a{:href=> "D"} 
              D
          %li
            %a{:href=> "Eb"} 
              Eb
          %li
            %a{:href=> "E"} 
              E
          %li
            %a{:href=> "F"} 
              F
          %li
            %a{:href=> "Gb"} 
              Gb
          %li
            %a{:href=> "G"} 
              G
    = partial "layouts/partials/scale"
