%ul.scale
  %li
    %h1 I
    .note
      G
  %li
    %h1 IIIb
    .note
      Bb
  %li
    %h1 IV
    .note
      C
  %li
    %h1 Vb
    .note
      Db
  %li
    %h1 V
    .note
      D
  %li
    %h1 VIIb
    .note
      F
